/* Inline code example */

/* ==================================================
   Showcases
================================================== */

.csswinner {
	top: 120px;
	position: absolute;
	right: 0px;
	width: 67px;
	height: 101px;
	z-index: 1000;
}

.csswinner a {
	height: 100%;
	display: block;
	text-indent: -9999px;
	background: url(/wp-content/themes/iamkevinrhodes/images/nominee-new-yellow-right.png) no-repeat;
}

	@media (max-width: @screen-sm-min) {
		.csswinner,
		.awwwards {
			display: none;
		}
	}

.awwwards {
	top: 241px;
	position: absolute;
	right: 0px;
	width: 70px;
	height: 105px;
	z-index: 1000;
}

.awwwards a {
	height: 100%;
	display: block;
	text-indent: -9999px;
	background: url(/wp-content/themes/iamkevinrhodes/images/awwwards_nominee_black_right.png) no-repeat;
}

/* ==================================================
   Preloader
================================================== */

.preloader {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: @brand-primary;
	z-index: 9999999;
	color: white;
}

.signal {
    border:3px solid #fff;
    border-radius:30px;
    height:30px;
    left:50%;
    margin:-15px 0 0 -15px;
    opacity:0;
    position:absolute;
    top:50%;
    width:30px;
 
    animation: pulsate 1s ease-out;
    animation-iteration-count:infinite;
}

@keyframes pulsate {
    0% {
      transform:scale(.1);
      opacity: 0.0;
    }
    50% {
      opacity:1;
    }
    100% {
      transform:scale(1.2);
      opacity:0;
    }
}

.preloader-content {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -100px 0 0 -100px;
	text-align: center;
	font-weight: 400;
	font-size: 24px;
}

/* ==================================================
   Less Variables
================================================== */

@gray-line:		#d9d7d8;
@gray-lightest:	#f5f5f5;

/*	LESS CSS images 
	http://lesscss.org/features/#variables-feature-variable-interpolation
*/
@base-url: "http://localhost:8888";	

/* ==================================================
   Helper Classes
================================================== */

.margin-btm-30 {
	margin-bottom: 30px;
}

.margin-btm-50 {
	margin-bottom: 50px;
}

.margin-l-20 {
	margin-left: 20px;
}

/* ==================================================
   Typography
================================================== */

body {
}

/* ==================================================
   Hero Image
================================================== */

html, body {
 	width: 100%;
	height: 100%;
	position: relative;
}

.hero-image {
	height: 100%;
	width: 100%;
	position: relative;
	display: table;
	overflow: hidden;
}

.splash-page {
	background: url(/wp-content/themes/iamkevinrhodes/images/kevin-rhodes-hero.jpg) no-repeat 50% 50% fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

	@media (max-width: @screen-sm-min) {
		.splash-page {
			background-attachment: scroll;
			background-position: 70% 50%;
		}
	}

.hero-image-slideshow
{
	position: relative;
	z-index: 1;
}

.overlay {
	z-index: 3;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: block;
}

.above-overlay {
	z-index: 4; 
	position: relative;
}

.hero-content {
	display: table-cell;
	vertical-align: middle;
}

.hero-content h1 {
	color: #fff;
	font-size: 60px;
	font-weight: 300;
	line-height: 1.3;
	margin-left: -5px; /* Fix for logo alignment */
}

	@media (max-width: @screen-sm-min) {
		.hero-content h1 {
			font-size: 40px;
		}
	}

.hero-content h1 span {
	color: @brand-primary;
}

/* ==================================================
   Navbar
================================================== */

.navbar-nav > li > a {
	padding-top: 0;
	padding-bottom: 0;
	line-height: 100px;
}

/* Remove focus state for scrollto js chrome */
.navbar-default .navbar-nav>li>a:focus {
	color: #fff;
}

/* Styles for jquery */
.navbar {
	color: #fff;
	font-size: 18px;
	margin-bottom: 0;
	min-height: 100px;
	border: none;
}

.navbar-default {
	transition: 0.2s;
	background-color: rgba(0, 0, 0, 0.0);
	border-bottom: 1px solid transparent;
}

.navbar img {
	transition: 0.2s;
}

/* Vertically center brand image */
.navbar-brand {
	padding: 0;
	vertical-align: middle;
	height: 100px;
	line-height: 100px;
}

/* Removing default display block */
.navbar-brand img {
	display: inline-block;
	margin-left: 15px;
	margin-right: 15px;
}

/* ==================================================
   Navbar scroll
================================================== */

.navbar-default.scroll {
	border-bottom: 1px solid @gray;
	background-color: @gray-dark;
}

.navbar.scroll {
	min-height: 70px;
}

.navbar.scroll .navbar-nav > li > a {
	line-height: 70px;
}

.navbar.scroll .navbar-brand {
	height: 70px;
	line-height: 70px;
}

.navbar.scroll img {
	width: 80%;
}

/* ==================================================
   Navbar mobile - scroll class all the time
================================================== */

@media (max-width: @screen-sm-max) {
	.navbar {
		min-height: 70px;
		line-height: 70px;
	}

	.navbar .navbar-nav > li > a {
		line-height: 70px;
	}

	/* Keeps navbar dark on mobile */
	.navbar-default .navbar-collapse {
		background-color: @gray-dark;
	}

	.navbar > li > a {
		line-height: 70px;
	}

	.navbar .navbar-brand {
		height: 70px;
		line-height: 70px;
	}

	.navbar img {
		width: 80%;
	}
}

/* ==================================================
   Navbar mobile basic styles
================================================== */

@media (max-width: @screen-sm-max) {
	
	.navbar-default .navbar-nav > li > a {
		text-align: center;
	}

	.navbar-collapse {
		border: none;
	}

	.navbar-default .navbar-toggle,
	.navbar-default .navbar-toggle:hover {
		background-color: #fff;
		border-color: #fff;
		cursor: pointer;
	}

	.navbar-default .navbar-toggle:focus {
		background-color: #fff;
		border-color: #fff;
	}

	/* Bootstrap fix to remove color focus on close */
	.navbar-default .navbar-toggle.collapsed:focus {
		background-color: #fff;
	}

	.navbar-default .navbar-toggle .icon-bar {
		background-color: @brand-primary;
	}

}


/* ==================================================
   Boostrap Overrides
================================================== */

/* Remove corner resize in text areas */
textarea {
    resize: none;
}

body {
	font-weight: 300;
	position: relative;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: 400;
}
h3 {
	font-size: 22px;
}

/* Make smooth transitions on all buttons */
a,
.btn {
	transition: 0.2s;
}

/* Remove browser dotted line */
a {
   outline: 0;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
	outline:0;
}

/* Remove Bootstrap dropshadow on click */
.btn:active {
	box-shadow: none;
}

.form-control {
	background-color: @gray-lighter;
	border: none;
	box-shadow: none;
	transition: 0.2s;
}

	.form-control:focus {
		background-color: @gray-lightest;
		border: none;
		box-shadow: none;
	}

.btn-default,
.btn-default:focus {
	background-color: transparent;
	color: #fff;
	border: 1px solid #fff;
}

	.btn-default:hover {
		background-color: #fff;
		color: @gray-darker;
		border: 1px solid #fff;
	}

.btn-primary:hover {
	background-color: @gray-dark;
	border: 1px solid @gray-dark;
}

.btn-lg {
	padding: 15px 40px 15px 40px;
}

	@media (max-width: 280px) {
		.btn-lg {
			padding: 7px 20px 7px 20px;
		}
	}

/* ==================================================
   Shared
================================================== */

.icons {
	font-size: 40px;
}

.global-section {
	padding-top: 100px;
	padding-bottom: 100px;
	position: relative;
	z-index: 2;
}

.global-section h1 {
	margin-top: 0;
}

.cursor-tag {
	color: @brand-primary;
}

.cursor-tag-dark {
	color: @gray-darker;
}

/* ==================================================
   Global Avatars
================================================== */

/* Used in blog single post header */
.avatar-sm {
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

/* Used in blog single post footer, quotes */
.avatar-md {
	height: 100px;
	width: 100px;
	border-radius: 50%;
}

/* Used in intro area */
.avatar-lg {
	width: 160px;
	height: 160px;
	border-radius: 50%;
}

/* ==================================================
   About
================================================== */

.section-about-top {
	padding-top: 100px;
	padding-bottom: 165px;
	position: relative;
	background-color: @brand-primary;
	color: #fff;
	z-index: 3; /* Normally this would be a 2, but we need it on top for the avatar */
}

.section-about-bottom {
	padding-top: 165px;
	padding-bottom: 100px;
	background-color: #fff;
	position: relative;
	z-index: 2;
}

.section-about-bottom i {
	color: @gray-light;
	transition: 0.2s;
	border: 2px solid #fff;
	border-radius: 50%;
	padding: 40px;
}

	.personal-blurb:hover i {
		color: @brand-primary;
		border: 2px solid @brand-primary;
	}

.section-about-top .avatar-lg {
	border: 5px solid #fff;
	position: absolute;
	bottom: -85px;
	left: 50%;
	margin-left: -85px;
}

/* ==================================================
   Blog
================================================== */

.blog-section {
	background-color: @gray-lighter;
	border-top: 1px solid @gray-line;
	border-bottom: 1px solid @gray-line;
}

.image-wrap {
	position: relative;
	overflow: hidden;
	display: block;
}

.hover-wrap {
	position: absolute;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: 0.2s;
}

	.hover-wrap:hover {
		opacity: 1;
	}

.overlay-img {
	position: absolute;
	width: 100%;
	height: 100%;
	background: @brand-primary;
	opacity: 0.45;
}

.overlay-txt {
	position: absolute;
	font-size: 24px;
	line-height: 32px;
	width: 100%;
	color: #FFFFFF;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
}

.overlay-txt i {
	display: block;
	font-size: 36px;
}

/* Regular text styling */
.portfolio-overlay-title {
	display: block;
}

/* Category styling */
.portfolio-overlay-category {
	display: inline-block;
	font-size: 12px;
	margin: 10px 5px 0px 5px;
	font-weight: bold;
}

/* ==================================================
   What I Offer
================================================== */

.section-offer {
	background-color: @gray-lighter;
	border-top: 1px solid @gray-line;
	border-bottom: 1px solid @gray-line;
}

.offer {
	position: relative;
	padding: 30px;
	background-color: transparent;
	padding-left: 100px;
	border: 1px solid @gray-line;
	border-radius: @border-radius-large;
	transition: 0.2s;
	word-wrap: break-word;
}

	.offer:hover {
		color: #fff;
		background-color: @brand-primary;
		border: 1px solid #fff;
	}

.offer h4 {
	margin-top: 0;
}

.offer p {
	margin-bottom: 0;
}

.offer-icon {
	color: @gray-light;
	position: absolute;
	left: 30px;
	top: 40px;
	transition: 0.2s;
	line-height: 0;
}

	.offer:hover .offer-icon {
		color: #fff;
	}

/* ==================================================
   Let's get technical
================================================== */

.section-technical {
	background-color: #fff;	
}

/* Remove default list styles */
.skill-bar ul {
	list-style: none;
	padding: 0;
}

/* Background bar */
.skill-bar ul li {
	height: 40px;
	line-height: 40px;
	width: 100%;
	background-color: @gray-dark;
	position: relative;
	margin-bottom: 30px;
}

/* Float right score */
.skill-bar ul li span {
	position: absolute;
	top: 0;
	right: 20px;
	color: #fff;
}

/* Foreground bar */
.skill-bar ul li .bar {
	height: 100%;
	background-color: @brand-primary;
	padding-left: 20px;
}

/* Left text */
.skill-bar ul li h5 {
	margin: 0;
	color: #fff;
	line-height: 40px;
	position: absolute;
}

/* ==================================================
   Happy employers
================================================== */

.section-happy {
	position: relative;
	background: url(/wp-content/themes/iamkevinrhodes/images/bg-happy.jpg) no-repeat 50% 50% fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #fff;
	padding-top: 100px;
	padding-bottom: 100px;
}

	@media (max-width: @screen-sm-max) {
		.section-happy {
			background-attachment: scroll;
		}
	}

/* Browser list style removal */
.section-happy ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

.section-happy ul li {
	display: inline-block;
	opacity: 1;
	transition: 0.2s;
}

	.section-happy ul li:hover {
		opacity: 0.8;
	}

/* Putting margins on list-item elements */
.section-happy ul li {
	margin-left: 40px;
}

	@media (max-width: @screen-sm-max) {
		.section-happy ul li {
			margin: 15px;
		}
	}

.section-happy ul li:first-child {
	margin-left: 0;
}

/* ==================================================
   What I Offer
================================================== */

.section-my-works {
	background-color: @gray-darker;
	color: #fff;
}

/* ==================================================
   Isotope stuff
================================================== */

/* Get rid of bootstrap padding */
#container .col-md-4 {
	padding: 0;
}

/* Stretches and forces full-width images  */
.img-full-responsive {
	width: 100%;
	height: auto;
	display: block;
}

/* Customizing isotope buttons */
.isotope-button-container {
	text-align: center;
}

.btn-isotope {
	border-color: #fff;
	background-color: transparent;
	margin-right: 5px;
	margin-left: 5px;
}

	.btn-isotope:hover,
	.btn-isotope.active {
		border-color: #fff;
		background-color: #fff;
		color: @brand-primary;
	}

/* ==================================================
   Photography
================================================== */

.section-photography {
	background-color: @gray-dark;
}

.section-photography h1 {
	color: #fff;
}

.photography-controls {
	font-size: 72px;
}

.photography-controls ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}
.photography-controls ul li {
	display: inline-block;
}

.photography-controls ul li a {
	color: @gray-light;
	cursor: pointer;
}

.photography-controls ul li.active a {
	color: #fff;
}

.photography-global-feed {
	width: 100%;
	display: inline-block;
}

.photography-global-feed .col-md-2 {
	padding: 0;
	height: 250px;
	overflow: hidden;
	position: relative;
}

/*	Responsive ANY SIZE courtesy of CSS-Tricks CSS-Only Technique #2
	http://css-tricks.com/perfect-full-page-background-image/ */

 /*	Changed position to relative since we are using Bootstrap grid and not full bg */

#bg {
  position: relative; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}

#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}



#instagram-feed {
	width: 100%;
	display: inline-block;
}

#instagram-feed .col-md-2.col-sm-3.col-xs-6 {
	padding: 0;
	height: 250px;
	overflow: hidden;
	position: relative;
}

#instagram-feed .col-md-2.col-sm-3.col-xs-6 a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


@media (min-width: 1700px) {

	#instagram-feed .col-md-2.col-sm-3.col-xs-6 a {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-100%, -50%);
	}
		
	#instagram-feed .col-md-2.col-sm-3.col-xs-6 a img {
		width: 200%;
	}

}


/* ==================================================
   Tweet
================================================== */

.tweet-section {
	font-size: 18px;
	background-color: @brand-primary;
	color: #fff;
	word-wrap: break-word; 
}

.tweet-section a {
	color: @gray-darker;	
}

.tweet-area {
	padding-left: 80px;
	position: relative;
	min-height: 200px;  /* Fixes page load jerk */
}

.tweet-section h3 {
	margin-top: 0;
}

.tweet-section h3 a {
	color: #fff;
}

.tweet-section a:hover h3 {
	color: #fff;
}

.tweet-icon {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 40px;
	line-height: 0;
}

/* Customize and override flexslider box area */
.flexslider {
	border: none;
	box-shadow: none;
	background: transparent;
	margin: 0;
	padding: 0;
}

/* Pull controls right */
.holder_arrow {
	float: right;
	min-height: 60px;
}

/* Customize flexslider butttons */
.flex-direction-nav {
    display: inline-block;
    position: relative;
}

/* Remove default flexslider icons */
.flex-direction-nav a.flex-next:before,
.flex-direction-nav a.flex-prev:before {
	content: none;
}

/* Allows side-by-side arrows */
.flex-direction-nav li {
    display: inline-block;
}

/* Makes clickable region a block */
.flex-direction-nav li a {
	text-shadow: none;
    display: inline-block;
    opacity: 0.6;
}

	.flex-direction-nav a:hover{
	    opacity: 1;
	}

.flex-direction-nav .flex-prev,
.flex-direction-nav .flex-next{
    position:relative;
    left:0;
    top:0;
    width:auto;
    margin-left:7px;
    font-size: 40px;
    line-height: 40px;
    height: 40px;
    color:#fff;
    transition: 0.2s;
}




/* Customize twitter fletcher butttons */
.interact {
	display: inline-block;
	font-size: 18px;
	margin-left: 20px;
}

.interact a {
	margin-right: 5px;
}

	.interact a:hover {
		color: @gray-dark;
	}

.timePosted {
	display: inline-block;
	font-size: 18px;
}

/* ==================================================
   Quotes
================================================== */

.section-quote {
	position: relative;
	background: url(/wp-content/themes/iamkevinrhodes/images/bg-quotes.jpg) no-repeat 50% 50% fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	color: #fff;
	padding-top: 100px;
	padding-bottom: 100px;
}

	@media (max-width: @screen-sm-max) {
		.section-quote {
			background-attachment: scroll;
		}
	}

.quote-icon {
	font-size: 40px;
	color: #fff;
}

.quote-slider-slide-container {
	padding-left: 140px;
	position: relative;
}

	@media (max-width: @screen-sm-min) {
		.quote-slider-slide-container {
			padding-left: 0px;
			text-align: center;
		}
	}

.avatar-md.quote-slider-img {
	left: 0;
	position: absolute;
}

	@media (max-width: @screen-sm-min) {
		.avatar-md.quote-slider-img {
			position: relative;
		}
	}

.quote-slider-single {
	font-size: 24px;
}

.quote-slider-name {
	font-size: 16px;
	margin: 15px 0px;
}

/* ==================================================   Control nav   ================================================== */

.quote-slider .flex-control-nav {
	position: relative;
	height: 8px; /* Same height as the a links */
}

.quote-slider .flex-control-nav.flex-control-paging {
	bottom: 0;
}

.quote-slider .flex-control-paging li {
}

.quote-slider .flex-control-paging li a {
	border-radius: 0;
	width: 50px;
	height: 8px;
}

.quote-slider .flex-control-paging li a.flex-active {
	background: @brand-primary;
	cursor: pointer;
}

/* ==================================================
   Contact
================================================== */

.contact-section {
	background-color: #fff;
}

#form-messages {
	background-color: red;
}

.control-group {
    margin-bottom: 22px;
}

.alert {
	text-align: center;
}

	.alert-success {
		background-color: #2ecc71;
		color: #fff;
	}

	.alert-danger {
		background-color: #e74c3c;
		color: #fff;
	}

		a.alert-danger {
			color: #fff;
		}

.help-block ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	color: @brand-primary;
}

/* ==================================================
   Google maps
================================================== */

.maps {
	height: 400px;
	position: relative;
	z-index: 2;
}

/* ==================================================
   Footer
================================================== */

.social-links {
	background-color: @gray-darker;
	padding: 40px 0;
	color: #fff;
	position: relative;
	z-index: 2;
}

/* Browser list style removal */
.social-links ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

.social-links ul li {
	cursor: pointer;
	display: inline-block;
}

/* Putting margins on list-item elements */
.social-links ul li {
	margin-left: 20px;
	margin-right: 20px;
}

	@media (max-width: @screen-xs-max) {
		.social-links ul li {
			margin: 15px;
		}
	}

/* Button animations */
.social-links ul li a {
	display: block;
	width: 70px;
	height: 70px;
	background-color: @gray-dark;
	transition: 0.2s;
    -ms-transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
}

.social-links ul li a span {
	display: inline-block;
	color: #fff;
	font-size: 32px;
	line-height: 70px;
	transition: 0.2s;
    -ms-transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
}

.social-links ul li:hover a {
    -ms-transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
	background-color: @brand-primary;
}

.social-links ul li:hover a span {
    -ms-transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.copyright {
	background-color: @gray-dark;
	padding: 40px 0;
	color: #fff;
	position: relative;
	z-index: 2;
}
.copyright i {
	color: @brand-primary;
}

.photo-bg {
	width: 100%;
	height: 400px;
	overflow: hidden;
	position: relative;
	background-color: #000;
}