/* ==================================================
   Navbar prevention from collapsing
================================================== */

#subpage-nav .navbar-header {
	float: left;
}

#subpage-nav .navbar-right {
	float: right !important;
	margin-right: -15px;
}

/* ==================================================
   Global subpage styles
================================================== */

.hero-image-small {
	position: relative;
	height: 500px;
	display: table;
	text-align: center;
	margin-top: 70px; /* Height of navbar */
	width: 100%;
}

.blog-post {
	background-repeat: no-repeat;
	background-position: 0 0;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

	@media (max-width: @screen-sm-min) {
		.blog-post {
			background-attachment: scroll;
		}
	}

.blog-all-post {
	background: url(/wp-content/themes/iamkevinrhodes/images/bg-blog.jpg) no-repeat 50% 50% fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

	@media (max-width: @screen-sm-min) {
		.blog-all-post {
			background-attachment: scroll;
		}
	}

.portfolio-post {
	background: url(/wp-content/themes/iamkevinrhodes/images/bg-portfolio.jpg) no-repeat 50% 50% fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

	@media (max-width: @screen-sm-min) {
		.portfolio-post {
			background-attachment: scroll;
		}
	}

/* Remove underline from any links, including profile pic */
.hero-image-small a,
.hero-image-small a:hover {
	text-decoration: none;
}

/* Green line */
.title-divider {
	border-top: 2px solid @brand-primary;
	width: 100px;
	margin: auto;
}

/* Put title over overlay */
.hero-image-small-title {
	z-index: 4; 
	position: relative;
	display: table-cell;
	vertical-align: middle;
}

.hero-image-small h1 {
	font-size: 60px;
	font-weight: 300;
	line-height: 1.3;
	color: #fff;
	padding: 0px 15px 0px 15px; /* Adds padding because of no bootstrap grid */
}

	@media (max-width: @screen-sm-min) {
		.hero-image-small h1 {
			font-size: 40px;
		}
	}

.hero-image-small h5 {
	color: #fff;
	font-size: 16px;
}

	@media (max-width: @screen-sm-min) {
		.hero-image-small h5 {
			font-size: 14px;
		}
	}

.sub-page-back {
	background-color: @gray-lighter;
	border-top: 1px solid @gray-line;
	border-bottom: 1px solid @gray-line;
	padding: 100px 0 100px 0;
	text-align: center;
}

/* ==================================================
   Portfolio
================================================== */

.portfolio-area {
	background-color: #fff;
	padding: 50px 0 50px 0;
}

ul.portfolio-area-project-info  {
	margin: 0;
	padding: 0;
	list-style: none;
}

.portfolio-area img {
	margin-bottom: 0px;
}

/* ==================================================
   Blog single post
================================================== */

/* Date spacing */
.subhead-date {
	margin-right: 20px;
}

	/* Center align subhead on mobile */
	@media (max-width: @screen-xs-max) {
		.subhead-date {
			display: block;
			margin-right: 0;
		}
	}

.hero-image-small .avatar-sm {
	margin-right: 10px;
	border: 2px solid #fff;
}

.blog-single-post {
	background-color: #fff;
	padding: 50px 0 50px 0;
}

.blog-single-post {
	p, ul {
		font-size: 18px;
	}
	h1 {
		font-size: 30px;
	}
}

.wp-caption.alignnone {

	margin: 0 -150px;

	a img {
		margin: 40px 0;
	}

	figcaption {
		font-style: italic;
		text-align: center;
		color: @gray-light;
		margin: -20px 0 40px 0;
	}
}

	@media (max-width: @screen-sm-max) {
		.wp-caption.alignnone {
			margin: 0px;
		}
	}

blockquote {
	border-left: 5px solid @brand-primary;
	margin: 40px -150px;
	font-style: italic;
}

	@media (max-width: @screen-sm-max) {
		blockquote {
			margin: 40px 0;
		}
	}

ul.post-tags {
	padding: 0;
	margin-bottom: 0;
}

ul.post-tags li {
	display: inline-block;
}

ul.post-tags li a {
	padding: 3px 8px;
	background-color: @brand-primary;
	color: #fff;
	margin: 0 3px 6px 0;
	transition: 0.2s;
	border-radius: @border-radius-base;
}

	ul.post-tags li a:hover {
		background-color: @gray-dark;
		text-decoration: none;
	}

/* Wordpress created class*/
.post-categories {
	padding-left: 0;
}

.post-share {
	margin-top: 20px;
	padding: 20px 0;
	border-top: 1px solid @gray-line;
	border-bottom: 1px solid @gray-line;
}

ul.post-social {
	list-style: none;
	padding: 0;
	margin: 0;
	display: inline-block;
}

ul.post-social li {
	display: inline-block;
	margin-left: 10px;
}

ul.post-social li a {
	display: inline-block;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	line-height: 40px;
	border: 2px solid @gray-lighter;
	text-align: center;
	color: @gray-light;
	transition: 0.2s;
}

	ul.post-social li a:hover {
		border: 2px solid @brand-primary;
		color: @brand-primary;
	}

.post-author {
	position: relative;
	padding: 40px 0 40px 120px;
	border-bottom: 1px solid @gray-line;
	min-height: 200px;
}

.post-author p {
	margin: 0;
}

.avatar-md.post-avatar {
	top: 40px;
	left: 0;
	border: 2px solid #fff;
	position: absolute;
}

.post-author p {
	font-size: 14px;
}

.post-author h3 {
	margin: 0;
}

.blog-single-post-after {
	background-color: #fff;
	padding-bottom: 40px;
}

.post-comments {
	padding-top: 40px;
	padding-bottom: 40px;
}

/* ==================================================
   Blog all posts
================================================== */

.blog-all-posts {
	background-color: #fff;
	padding: 50px 0 50px 0;
}

.blog-all-posts p {
	font-size: 18px;
}

.blog-all-posts h1 {
	margin-top: 0;
}

.search {
	float: right;
}

.search-overlay {
	z-index: 10000;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.9);
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: none;
	height: 100%; 
}

.close-overlay {
	position: absolute;
	top: 25px;
	right: 25px;
	width: 75px;
	height: 75px;
	cursor: pointer;
	transition: 0.2s;
	opacity: 0.8;
}

.close-overlay:hover {
	opacity: 1;
}

.lr {
	width: 1px;
	height: 75px;
	margin-left: 35px;
	background-color: #fff;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg)
}

.rl {
	z-index: 1052;
	width: 1px;
	height: 75px;
	background-color: #fff;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.search-overlay input {
	width: 600px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: transparent;
	font-size: 60px;
	line-height: 80px;
	height: 80px;
	padding: 0 15px;
	text-align: center;
	border: none;

}

	@media (max-width: @screen-sm-max) {
		.search-overlay input {
			font-size: 40px;
			width: 250px;
		}
	}



.search-overlay input:focus {
	background-color: transparent;
	color: #fff;
}